# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.env
db.sqlite3

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/
